# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/
.env/

# Flask instance folder
instance/

# Database files
*.sqlite3
*.db

# Pytest
.cache/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# IDE settings
.vscode/
.idea/

# Log files
*.log

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# VS Code settings
.settings/
.vscode/

# Environment variables
.env
